
<head>
<h1><big><font color="#FFFFFF" face="MS UI Gothic"><big>LENDBLEND</big></font></big></h1>
<style>
   h1 {
    font-size: 250%;
   }
  
  body{
      background: url('/assets/tools.jpg') repeat fixed;
      -moz-background-size: auto;
      -webkit-background-size: auto;
      background-size: auto;
  }
</style>
</head>

<body>
  &nbsp;
</body>