<head>
<h1><big><font color="#453E3E" face="MS UI Gothic"><big>LENDBLEND</big></font></big></h1>
</head>


<p>You have <%=@owned_items.length%> items in your library and <%= @all_borrowable_items.length %>to lend.</p>

<p>You have borrowed <%= @already_borrowed_items.length%></p>
