html *
{
  

<!--  
	background: url('/assets/tools.jpg') repeat fixed;
    -moz-background-size: auto;
    -webkit-background-size: auto;
    background-size: auto;
-->

  	!important;
	font-family: Arial
	!important;
  
  
 
}